<div class="admin-panel-wrapper">
  <div class="admin-panel">
    <div class="admin-panel__header">
      <h1>{{ 'TITLE-admin' | translate }}</h1>
    </div>

    <div class="admin-panel__users-list" >
      <div class="admin-panel__users-list__header">
        <h2>{{ 'ADMIN-users-list' | translate }}</h2>
      </div>
      <div class="admin-panel__users-list__users" *ngFor="let userId of allUsers">
        <div class="admin-panel__users-list__users__user">
          {{userId}}
        </div>
      </div>
    </div>
  </div>
</div>
