<div class="time-tracking-wrapper d-flex justify-content-center pt-3">
  <div class="time-tracking d-flex justify-content-center align-items-center flex-column">
    <div class="time-tracking__controls">
      <input type="text" [placeholder]="'TIMETRACKER-task-name-input' | translate" #taskName>
    </div>
    <div class="time-tracking__time font-weight-bold">
      {{ ('TIMETRACKER-current-time' | translate) + timeTrackedDisplay}}
    </div>

    <div class="time-tracking__start">
      <button (click)="!isWorking ? startTimeTracking(taskName.value) : stopTimeTracking()">
        {{ !isWorking ? ('TIMETRACKER-start-tracking' | translate) : ('TIMETRACKER-stop-tracking') | translate }}
      </button>
    </div>
  </div>
  <div class="time-tracking__break d-flex flex-column">
    <label for="break-times">{{ 'TIMETRACKER-breaks-label' | translate }}</label>

    <select id="break-times" (change)="onBreakTimeValueChange($event.target)">
      <option [value]="o.value" *ngFor="let o of options">
        {{ o.name | translate }}
      </option>
    </select>
  </div>
</div>

<div class="trackings__history pt-5" *ngIf="allTrackings.length > 0">
  <h2 class="text-center">Przepracowane zadania:</h2>
  <div class="trackings__history__entry" *ngFor="let tracking of allTrackings">
    <p>{{ tracking?.taskName + ' | ' + tracking?.duration.toString().split('.')[0] + ' sekund' }}</p>
  </div>
</div>
