//colors

$main-dark: #47525E;
$main-white: #FFFFFF;

$main-gray-1: #E5E9F2;
$main-gray-2: #8190A5;
$main-gray-3: #47525E;

$main-yellow: #FFC82C;

$main-blue-1: #007bff;
$main-blue-1-hover: #0056b3;

