.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: RGB(71,82,94);
    color: white;
    text-align: center;
    font-size: 13px;
    font-family: Montserrat,"sans-serif";
    height: 30px;
  }

  .footer p{
    margin-top: 5px;
  }