@use '../../../styles/index' as const;

.login-wrapper {


  .login {
    margin-top: 100px;
    width: 30%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;

    padding-bottom: 50px;
    padding-top: 50px;


    &__form {
      gap: 0.5rem;
    }
  }

  .no_acc {
    text-align: left;
    font-size: 12px;
  }

  .login__title{
    color: RGB(71,82,94);
  }

  .login__form__submit button{
    text-transform: uppercase;
    font-weight: 200;
    transition: all .4s;
    margin-top: 3px;
    padding-left: 84px;
    padding-right: 84px;
    color: white;
    align-items: center;
    background-color: RGB(71,82,94);
    border: 2px solid white;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 10px;
  }

  .login__form__submit button:hover {
    background-color: RGB(129,144,165);
    border: 1px solid RGB(71,82,94);
    color: white;
  }

  .login__form__username input[type='text'],
  .login__form__password input[type='password'] {
    padding-left: 10px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid RGB(193,200,210);
    color: black;
  }


}

.circle
{
  width: 300px;
  height: 300px;
  margin-top: 5%;
  margin-left: 50%;
  background: linear-gradient(45deg, RGB(129,144,165), black);
  opacity: 0.25;
  -moz-border-radius: 300px;
  -webkit-border-radius: 300px;
  border-radius: 300px;
  position: absolute;
}

.circlel
{
  width: 200px;
  height: 200px;
  margin-top: 1%;
  margin-left: 36%;
  background: linear-gradient(45deg, black, RGB(71,82,94,));
  opacity: 0.25;
  -moz-border-radius: 300px;
  -webkit-border-radius: 300px;
  border-radius: 300px;
  position: absolute;
}
